@media (max-width: 1080px) {
  .container {
    flex-direction: column !important;
    align-items: center !important;
    /* justify-content: center !important; */
  }
}

@media (max-width: 600px) {
  .container img {
    width: 100%;
  }
}
