@font-face {
  font-family: "Nunito";
  src: local("Nunito"),
    url("./fonts/Nunito-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: local("Nunito"),
    url("./fonts/Nunito-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito";
}

body,
html {
  font-size: 10px;
  overflow-x: hidden;
  min-height: 100vh;
  position: relative;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.styled-list-item:first-of-type::before {
  content: "";
}

.styled-list-item::before {
  content: "\2022";
  color: #ff7600;
  font-size: 1.2em;
  margin-right: 10px;
}
